<div class="container-fluid">
    <div class="todo--wrapper">
        <input type="text" maxlength="50" class="todo--input todo--search-color" (keyup.enter)="addTodo($event)"
            [formControl]="todoInput" placeholder="Create a new todo">
        <div class="todo-item--wrapper mt-4">
            <div class="todo-items" *ngIf="(listOfTodo|filter:filterArgs)?.length">
                <div class="todo-item todo--search-color" *ngFor="let item of listOfTodo|filter:filterArgs;let i=index">
                    <div class="todo-item--flex">
                        <div class="flex-item checkbox" [ngClass]="{'bg-linear-gradient': item.completed}">
                            <input type="checkbox" class="checkbox-input" [(ngModel)]="item.completed"
                                (ngModelChange)="toggleStatus($event,item?.id)">
                        </div>
                        <div class="todo-text-color flex-item--text" [ngClass]="{'cross-out-item':item.completed}">
                            {{item?.value}}
                        </div>
                        <div class="flex-item--cross">
                            <img src="../../assets/images/icon-cross.svg" (click)="deleteTodo(item?.id)">
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!(listOfTodo|filter:filterArgs)?.length">
                <div class="todo--search-color">
                    <label class="todo-text-color pt-3 no-todos">No
                        todos</label>
                </div>
            </div>
        </div>
        <div class="todo-footer--wrapper">
            <div class="todo-footer--mobile">
                <div class="todo--search-color footer--flex">
                    <label class="item--flex todo-text-color">{{itemsLeft}} item(s) left</label>
                    <label class="item--flex todo-text-color clear-completed" (click)="clearCompletedItems()">Clear
                        Completed</label>
                </div>
                <div class="mt-3 todo--search-color footer-menu--flex">
                    <label class="item--flex all todo-text-color" [ngClass]="{'highlight-blue':filterArgs==='all'}"
                        (click)="triggerFilterChange('all')">All</label>
                    <label class="item--flex active todo-text-color"
                        [ngClass]="{'highlight-blue':filterArgs==='active'}"
                        (click)="triggerFilterChange('active')">Active</label>
                    <label class="item--flex completed todo-text-color"
                        [ngClass]="{'highlight-blue':filterArgs==='completed'}"
                        (click)="triggerFilterChange('completed')">Completed</label>
                </div>
                <div class="label-hint--wrapper footer-drag--flex mt-3">
                    <label class="label--hint todo-text-color">Drag and drop to reorder list</label>
                </div>
            </div>
            <div class="todo-footer--desktop">
                <div class="todo--search-color footer--flex">
                    <label class="item--flex todo-text-color">{{itemsLeft}} item(s) left</label>
                    <label class="item--flex all todo-text-color" [ngClass]="{'highlight-blue':filterArgs==='all'}"
                        (click)="triggerFilterChange('all')">All</label>
                    <label class="item--flex active todo-text-color"
                        [ngClass]="{'highlight-blue':filterArgs==='active'}"
                        (click)="triggerFilterChange('active')">Active</label>
                    <label class="item--flex completed todo-text-color"
                        [ngClass]="{'highlight-blue':filterArgs==='completed'}"
                        (click)="triggerFilterChange('completed')">Completed</label>
                    <label class="item--flex todo-text-color clear-completed" (click)="clearCompletedItems()">Clear
                        Completed</label>
                </div>
                <div class="label-hint--wrapper footer-drag--flex mt-3">
                    <label class="label--hint todo-text-color">Drag and drop to reorder list</label>
                </div>
            </div>
        </div>
    </div>